{% extends 'personajes/base.html' %} {% load staticfiles %} {% block content %}


<body>
    <h1 class="NombrePersonaje">Corrin</h1>

    <a href="#0" class="cd-nav-trigger">Menu<span></span></a>


    <img class="Portrait" alt="ImagenPersonaje" src="{% static 'imgPj/corrin.jpg' %}">
    <div class="Contenedor">
        <h2 class="Categoria" id="Neutral">Jabs</h2>

        <div class="moves">

            <div class="ContenedorMovimientos">
                <div class="movename">
                    Jab 1
                </div>
                <div class="startup">
                    5
                </div>
                <div class="totalframes">
                    27
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    Transitions to jab 2 as early as frame 9
                </div>
                <div class="basedamage">
                    2.0/2.5
                </div>
                <div class="shieldlag">
                    7/8
                </div>
                <div class="shieldstun">
                    3/4
                </div>
                <div class="whichhitbox">
                    Close/Far
                </div>
                <div class="advantage">
                    -19/-18
                </div>
                <div class="activeframes">
                    5—6
                </div>
            </div>

            <div class="ContenedorMovimientos">
                <div class="movename">
                    Jab 2
                </div>
                <div class="startup">
                    4
                </div>
                <div class="totalframes">
                    29
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    Transitions to jab 3 as early as frame 9 and rapid as early as 8.
                </div>
                <div class="basedamage">
                    2.0
                </div>
                <div class="shieldlag">
                    5
                </div>
                <div class="shieldstun">
                    3
                </div>
                <div class="whichhitbox">
                    --
                </div>
                <div class="advantage">
                    -22
                </div>
                <div class="activeframes">
                    4—5
                </div>
            </div>

            <div class="ContenedorMovimientos">
                <div class="movename">
                    Jab 3
                </div>
                <div class="startup">
                    6
                </div>
                <div class="totalframes">
                    30
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    --
                </div>
                <div class="basedamage">
                    3.0/4.0
                </div>
                <div class="shieldlag">
                    9/10
                </div>
                <div class="shieldstun">
                    4/5
                </div>
                <div class="whichhitbox">
                    Close/Far
                </div>
                <div class="advantage">
                    -20/-19
                </div>
                <div class="activeframes">
                    6—7
                </div>
            </div>

            <div class="ContenedorMovimientos">
                <div class="movename">
                    Rapid Jab
                </div>
                <div class="startup">
                    12/16/20...
                </div>
                <div class="totalframes">
                    --
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    --
                </div>
                <div class="basedamage">
                    0.5
                </div>
                <div class="shieldlag">
                    4
                </div>
                <div class="shieldstun">
                    --
                </div>
                <div class="whichhitbox">
                    --
                </div>
                <div class="advantage">
                    **
                </div>
                <div class="activeframes">
                    **
                </div>
            </div>

            <div class="ContenedorMovimientos">
                <div class="movename">
                    Rapid Jab Finisher
                </div>
                <div class="startup">
                    3
                </div>
                <div class="totalframes">
                    39
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    --
                </div>
                <div class="basedamage">
                    3.0
                </div>
                <div class="shieldlag">
                    14
                </div>
                <div class="shieldstun">
                    4
                </div>
                <div class="whichhitbox">
                    --
                </div>
                <div class="advantage">
                    -32
                </div>
                <div class="activeframes">
                    3—4
                </div>
            </div>

            <div class="ContenedorMovimientos">
                <div class="movename">
                    Forward Tilt
                </div>
                <div class="startup">
                    8
                </div>
                <div class="totalframes">
                    34
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    --
                </div>
                <div class="basedamage">
                    10.5
                </div>
                <div class="shieldlag">
                    8
                </div>
                <div class="shieldstun">
                    10
                </div>
                <div class="whichhitbox">
                    --
                </div>
                <div class="advantage">
                    -16
                </div>
                <div class="activeframes">
                    8—9
                </div>
            </div>

            <div class="ContenedorMovimientos">
                <div class="movename">
                    Up Tilt
                </div>
                <div class="startup">
                    7
                </div>
                <div class="totalframes">
                    35
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    --
                </div>
                <div class="basedamage">
                    9.0
                </div>
                <div class="shieldlag">
                    7
                </div>
                <div class="shieldstun">
                    9
                </div>
                <div class="whichhitbox">
                    --
                </div>
                <div class="advantage">
                    -19
                </div>
                <div class="activeframes">
                    7—8(9—16)
                </div>
            </div>

            <div class="ContenedorMovimientos">
                <div class="movename">
                    Down Tilt
                </div>
                <div class="startup">
                    5
                </div>
                <div class="totalframes">
                    30
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    --
                </div>
                <div class="basedamage">
                    7.5
                </div>
                <div class="shieldlag">
                    7
                </div>
                <div class="shieldstun">
                    8
                </div>
                <div class="whichhitbox">
                    --
                </div>
                <div class="advantage">
                    -17
                </div>
                <div class="activeframes">
                    5—7
                </div>
            </div>

            <div class="ContenedorMovimientos">
                <div class="movename">
                    Dash Attack
                </div>
                <div class="startup">
                    12/14/16/18/20/23
                </div>
                <div class="totalframes">
                    49
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    --
                </div>
                <div class="basedamage">
                    2.0/3.0
                </div>
                <div class="shieldlag">
                    4/9
                </div>
                <div class="shieldstun">
                    --/4
                </div>
                <div class="whichhitbox">
                    Multi/Final
                </div>
                <div class="advantage">
                    -22
                </div>
                <div class="activeframes">
                    12/14/16/18/20/23
                </div>
            </div>

            <div class="ContenedorMovimientos">
                <div class="movename">
                    Forward Smash
                </div>
                <div class="startup">
                    12/17
                </div>
                <div class="totalframes">
                    56
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    Charging hold is frame 12 and includes a hitbox that hits every 5 frames
                </div>
                <div class="basedamage">
                    0.5/11.0/12.0/15.2
                </div>
                <div class="shieldlag">
                    4/9/9/15
                </div>
                <div class="shieldstun">
                    2/8/8/10
                </div>
                <div class="whichhitbox">
                    Charging/Close/Far/Tipper
                </div>
                <div class="advantage">
                    -31/-31/-29
                </div>
                <div class="activeframes">
                    12—**/17—18
                </div>
            </div>

            <div class="ContenedorMovimientos">
                <div class="movename">
                    Up Smash
                </div>
                <div class="startup">
                    13
                </div>
                <div class="totalframes">
                    51
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    Charge hold is frame 9
                </div>
                <div class="basedamage">
                    10.0/13.0/15.0
                </div>
                <div class="shieldlag">
                    8/9/14
                </div>
                <div class="shieldstun">
                    7/9/10
                </div>
                <div class="whichhitbox">
                    Close/Far/Tipper
                </div>
                <div class="advantage">
                    -31/-29/-28
                </div>
                <div class="activeframes">
                    13—17
                </div>
            </div>

            <div class="ContenedorMovimientos">
                <div class="movename">
                    Down Smash
                </div>
                <div class="startup">
                    13
                </div>
                <div class="totalframes">
                    48
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    Charge hold is frame 8
                </div>
                <div class="basedamage">
                    11.0/9.0/14.0
                </div>
                <div class="shieldlag">
                    8/7/14
                </div>
                <div class="shieldstun">
                    8/7/10
                </div>
                <div class="whichhitbox">
                    Front/Back/Tipper
                </div>
                <div class="advantage">
                    -27/-28/-25
                </div>
                <div class="activeframes">
                    13—15
                </div>
            </div>

        </div>

        <h2 class="Categoria" id="aerialattacks">
            Aerial Attacks
        </h2>

        <div class="moves">

            <div class="ContenedorMovimientos">
                <div class="movename">
                    Neutral Air
                </div>
                <div class="startup">
                    6
                </div>
                <div class="totalframes">
                    46
                </div>
                <div class="landinglag">
                    10
                </div>
                <div class="notes">
                    Autocancels on frame 1-5 and 47 onward
                </div>
                <div class="basedamage">
                    7.0/5.5
                </div>
                <div class="shieldlag">
                    7/6
                </div>
                <div class="shieldstun">
                    3/3
                </div>
                <div class="whichhitbox">
                    Early/Late
                </div>
                <div class="advantage">
                    -7/-7
                </div>
                <div class="activeframes">
                    6—7(8—19)
                </div>
            </div>

            <div class="ContenedorMovimientos">
                <div class="movename">
                    Forward Air
                </div>
                <div class="startup">
                    9
                </div>
                <div class="totalframes">
                    35
                </div>
                <div class="landinglag">
                    8
                </div>
                <div class="notes">
                    Autocancels on frame 1-8 and 30 onward
                </div>
                <div class="basedamage">
                    7.5
                </div>
                <div class="shieldlag">
                    6
                </div>
                <div class="shieldstun">
                    3
                </div>
                <div class="whichhitbox">
                    --
                </div>
                <div class="advantage">
                    -5
                </div>
                <div class="activeframes">
                    9—12
                </div>
            </div>

            <div class="ContenedorMovimientos">
                <div class="movename">
                    Back Air
                </div>
                <div class="startup">
                    13
                </div>
                <div class="totalframes">
                    41
                </div>
                <div class="landinglag">
                    13
                </div>
                <div class="notes">
                    Autocancels on frame 1-5 and 42 onward
                </div>
                <div class="basedamage">
                    11.0/9.0
                </div>
                <div class="shieldlag">
                    8/7
                </div>
                <div class="shieldstun">
                    4/4
                </div>
                <div class="whichhitbox">
                    Early/Late
                </div>
                <div class="advantage">
                    -9/-9
                </div>
                <div class="activeframes">
                    13(14—16)
                </div>
            </div>

            <div class="ContenedorMovimientos">
                <div class="movename">
                    Up Air
                </div>
                <div class="startup">
                    7
                </div>
                <div class="totalframes">
                    37
                </div>
                <div class="landinglag">
                    9
                </div>
                <div class="notes">
                    Autocancels on frame 1-3 and 38 onward
                </div>
                <div class="basedamage">
                    9.0
                </div>
                <div class="shieldlag">
                    7
                </div>
                <div class="shieldstun">
                    4
                </div>
                <div class="whichhitbox">
                    --
                </div>
                <div class="advantage">
                    -5
                </div>
                <div class="activeframes">
                    7—12
                </div>
            </div>

            <div class="ContenedorMovimientos">
                <div class="movename">
                    Down Air
                </div>
                <div class="startup">
                    12/14/16/18/20/22/24/26/28
                </div>
                <div class="totalframes">
                    51
                </div>
                <div class="landinglag">
                    26
                </div>
                <div class="notes">
                    Landing hit on frame 1. Autocancels on frame 1-11 and 41 onward
                </div>
                <div class="basedamage">
                    2.0/3.0
                </div>
                <div class="shieldlag">
                    4/5
                </div>
                <div class="shieldstun">
                    2/4
                </div>
                <div class="whichhitbox">
                    Falling/Landing
                </div>
                <div class="advantage">
                    -21
                </div>
                <div class="activeframes">
                    12/14/16/18/20/22/24/26/28/1—5
                </div>
            </div>

        </div>

        <h2 class="Categoria" id="specialattacks">
            Special Attacks
        </h2>

        <div class="moves">

            <div class="ContenedorMovimientos">
                <div class="movename">
                    Neutral B (Dragon Fang Shot)
                </div>
                <div class="startup">
                    17—47
                </div>
                <div class="totalframes">
                    61—95
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    --
                </div>
                <div class="basedamage">
                    4.0—11.0
                </div>
                <div class="shieldlag">
                    5—8
                </div>
                <div class="shieldstun">
                    2—4
                </div>
                <div class="whichhitbox">
                    --
                </div>
                <div class="advantage">
                    **
                </div>
                <div class="activeframes">
                    17—71
                </div>
            </div>

            <div class="ContenedorMovimientos">
                <div class="movename">
                    Dragon Fang Shot (chomp)
                </div>
                <div class="startup">
                    24-54-85
                </div>
                <div class="totalframes">
                    --
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    Chomp can be charged an additional 30 frames independently of shot for more damage.
                </div>
                <div class="basedamage">
                    10.0—20.0
                </div>
                <div class="shieldlag">
                    8—20
                </div>
                <div class="shieldstun">
                    10—18
                </div>
                <div class="whichhitbox">
                    --
                </div>
                <div class="advantage">
                    -31 to -19
                </div>
                <div class="activeframes">
                    24—25/**/85—86
                </div>
            </div>

            <div class="ContenedorMovimientos">
                <div class="movename">
                    Side B (Dragon Lunge, Pin)
                </div>
                <div class="startup">
                    4
                </div>
                <div class="totalframes">
                    --
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    After pinning the ground, 13 frame waiting period before you can select one of the options. Empty hop on the ground without Pin is 45 frames. Cannot pin a shielding target.
                </div>
                <div class="basedamage">
                    7.0
                </div>
                <div class="shieldlag">
                    7
                </div>
                <div class="shieldstun">
                    7
                </div>
                <div class="whichhitbox">
                    --
                </div>
                <div class="advantage">
                    -6
                </div>
                <div class="activeframes">
                    **
                </div>
            </div>

            <div class="ContenedorMovimientos">
                <div class="movename">
                    Side B (Dragon Lunge, Air)
                </div>
                <div class="startup">
                    10
                </div>
                <div class="totalframes">
                    41
                </div>
                <div class="landinglag">
                    22
                </div>
                <div class="notes">
                    --
                </div>
                <div class="basedamage">
                    8.0/15.0
                </div>
                <div class="shieldlag">
                    7/10
                </div>
                <div class="shieldstun">
                    8/14
                </div>
                <div class="whichhitbox">
                    Close/Tipper
                </div>
                <div class="advantage">
                    --
                </div>
                <div class="activeframes">
                    10
                </div>
            </div>

            <div class="ContenedorMovimientos">
                <div class="movename">
                    Dragon Lunge, Pin Cancel
                </div>
                <div class="startup">
                    --
                </div>
                <div class="totalframes">
                    ~35/19
                </div>
                <div class="landinglag">
                    19
                </div>
                <div class="notes">
                    Second total frames is if you don't land on the ground
                </div>
                <div class="basedamage">
                    --
                </div>
                <div class="shieldlag">
                    --
                </div>
                <div class="shieldstun">
                    --
                </div>
                <div class="whichhitbox">
                    --
                </div>
                <div class="advantage">
                    --
                </div>
                <div class="activeframes">
                    **
                </div>
            </div>

            <div class="ContenedorMovimientos">
                <div class="movename">
                    Dragon Lunge, Pin Jump
                </div>
                <div class="startup">
                    --
                </div>
                <div class="totalframes">
                    45
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    Invulnerable on frame 2-7
                </div>
                <div class="basedamage">
                    --
                </div>
                <div class="shieldlag">
                    --
                </div>
                <div class="shieldstun">
                    --
                </div>
                <div class="whichhitbox">
                    --
                </div>
                <div class="advantage">
                    --
                </div>
                <div class="activeframes">
                    **
                </div>
            </div>

            <div class="ContenedorMovimientos">
                <div class="movename">
                    Dragon Lunge, Pin Kick
                </div>
                <div class="startup">
                    10
                </div>
                <div class="totalframes">
                    56/45
                </div>
                <div class="landinglag">
                    19
                </div>
                <div class="notes">
                    Second total frames is if you go over an edge.
                </div>
                <div class="basedamage">
                    12.0/7.0
                </div>
                <div class="shieldlag">
                    10/7
                </div>
                <div class="shieldstun">
                    11/7
                </div>
                <div class="whichhitbox">
                    Early/Late
                </div>
                <div class="advantage">
                    -35
                </div>
                <div class="activeframes">
                    10—17(18—24)
                </div>
            </div>

            <div class="ContenedorMovimientos">
                <div class="movename">
                    Dragon Lunge, Back Kick
                </div>
                <div class="startup">
                    6
                </div>
                <div class="totalframes">
                    60/45
                </div>
                <div class="landinglag">
                    19
                </div>
                <div class="notes">
                    Second total frames is if you go over an edge.
                </div>
                <div class="basedamage">
                    5.0/7.0
                </div>
                <div class="shieldlag">
                    6/7
                </div>
                <div class="shieldstun">
                    6/7
                </div>
                <div class="whichhitbox">
                    Early/Late
                </div>
                <div class="advantage">
                    -48
                </div>
                <div class="activeframes">
                    6/14—21(22—28)
                </div>
            </div>

            <div class="ContenedorMovimientos">
                <div class="movename">
                    Up B (Dragon Ascent)
                </div>
                <div class="startup">
                    18/20/22/24/26/28/29
                </div>
                <div class="totalframes">
                    --
                </div>
                <div class="landinglag">
                    30
                </div>
                <div class="notes">
                    Invulnerable on frame 7-17
                </div>
                <div class="basedamage">
                    4.5/1.2/3.0
                </div>
                <div class="shieldlag">
                    8/4/10
                </div>
                <div class="shieldstun">
                    -/2/4
                </div>
                <div class="whichhitbox">
                    First/Multi/Final
                </div>
                <div class="advantage">
                    --
                </div>
                <div class="activeframes">
                    18—19/20/22/24/26/28/29—30
                </div>
            </div>

            <div class="ContenedorMovimientos">
                <div class="movename">
                    Down B (Counter Surge)
                </div>
                <div class="startup">
                    7 (Start of Counter)
                </div>
                <div class="totalframes">
                    66
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    Invulnerable on frame 6. Counters on 7-26
                </div>
                <div class="basedamage">
                    --
                </div>
                <div class="shieldlag">
                    --
                </div>
                <div class="shieldstun">
                    --
                </div>
                <div class="whichhitbox">
                    --
                </div>
                <div class="advantage">
                    --
                </div>
                <div class="activeframes">
                    7—26 (counter)
                </div>
            </div>

            <div class="ContenedorMovimientos">
                <div class="movename">
                    Counter Surge, Attack
                </div>
                <div class="startup">
                    27
                </div>
                <div class="totalframes">
                    66
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    Invulnerable on frame 1-50. Attacker frozen until frame 12
                </div>
                <div class="basedamage">
                    --
                </div>
                <div class="shieldlag">
                    --
                </div>
                <div class="shieldstun">
                    --
                </div>
                <div class="whichhitbox">
                    --
                </div>
                <div class="advantage">
                    --
                </div>
                <div class="activeframes">
                    27—31
                </div>
            </div>

        </div>

        <h2 class="Categoria" id="grabs">
            Grabs / Throws
        </h2>

        <div class="moves">

            <div class="ContenedorMovimientos">
                <div class="movename">
                    Grab
                </div>
                <div class="startup">
                    7
                </div>
                <div class="totalframes">
                    36
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    --
                </div>
                <div class="basedamage">
                    --
                </div>
            </div>

            <div class="ContenedorMovimientos">
                <div class="movename">
                    Dash Grab
                </div>
                <div class="startup">
                    10
                </div>
                <div class="totalframes">
                    44
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    --
                </div>
                <div class="basedamage">
                    --
                </div>
            </div>

            <div class="ContenedorMovimientos">
                <div class="movename">
                    Pivot Grab
                </div>
                <div class="startup">
                    11
                </div>
                <div class="totalframes">
                    39
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    --
                </div>
                <div class="basedamage">
                    --
                </div>
            </div>

            <div class="ContenedorMovimientos">
                <div class="movename">
                    Pummel
                </div>
                <div class="startup">
                    --
                </div>
                <div class="totalframes">
                    --
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    --
                </div>
                <div class="basedamage">
                    --
                </div>
            </div>

            <div class="ContenedorMovimientos">
                <div class="movename">
                    Forward Throw
                </div>
                <div class="startup">
                    14/15
                </div>
                <div class="totalframes">
                    34
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    --
                </div>
                <div class="basedamage">
                    --
                </div>
            </div>

            <div class="ContenedorMovimientos">
                <div class="movename">
                    Backward Throw
                </div>
                <div class="startup">
                    12/13
                </div>
                <div class="totalframes">
                    37
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    --
                </div>
                <div class="basedamage">
                    --
                </div>
            </div>

            <div class="ContenedorMovimientos">
                <div class="movename">
                    Up Throw
                </div>
                <div class="startup">
                    12/13
                </div>
                <div class="totalframes">
                    51
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    --
                </div>
                <div class="basedamage">
                    --
                </div>
            </div>

            <div class="ContenedorMovimientos">
                <div class="movename">
                    Down Throw
                </div>
                <div class="startup">
                    26/27
                </div>
                <div class="totalframes">
                    54
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    --
                </div>
                <div class="basedamage">
                    --
                </div>
            </div>

        </div>

        <h2 class="Categoria" id="dodges">
            Dodges / Rolls
        </h2>

        <div class="moves">

            <div class="ContenedorMovimientos">
                <div class="movename">
                    Spot Dodge
                </div>
                <div class="totalframes">
                    20/25
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    Invulnerable on frame 3-17
                </div>
            </div>

            <div class="ContenedorMovimientos">
                <div class="movename">
                    Forward Roll
                </div>
                <div class="totalframes">
                    29
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    Invulnerable on frame 4-15
                </div>
            </div>

            <div class="ContenedorMovimientos">
                <div class="movename">
                    Backward Roll
                </div>
                <div class="totalframes">
                    34
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    Invulnerable on frame 5-16
                </div>
            </div>

            <div class="ContenedorMovimientos">
                <div class="movename">
                    Neutral Air Dodge
                </div>
                <div class="totalframes">
                    49
                </div>
                <div class="landinglag">
                    10
                </div>
                <div class="notes">
                    Invulnerable on frame 3-29
                </div>
            </div>

            <div class="ContenedorMovimientos">
                <div class="movename">
                    Air Dodge, Down
                </div>
                <div class="totalframes">
                    67
                </div>
                <div class="landinglag">
                    11-19
                </div>
                <div class="notes">
                    Invulnerable on frame 3-21
                </div>
            </div>

            <div class="ContenedorMovimientos">
                <div class="movename">
                    Air Dodge, Diagonally Down
                </div>
                <div class="totalframes">
                    75
                </div>
                <div class="landinglag">
                    11-19
                </div>
                <div class="notes">
                    Invulnerable on frame 3-21
                </div>
            </div>

            <div class="ContenedorMovimientos">
                <div class="movename">
                    Air Dodge, Left/Right
                </div>
                <div class="totalframes">
                    81
                </div>
                <div class="landinglag">
                    11-19
                </div>
                <div class="notes">
                    Invulnerable on frame 3-21
                </div>
            </div>

            <div class="ContenedorMovimientos">
                <div class="movename">
                    Air Dodge, Diagonally Up
                </div>
                <div class="totalframes">
                    97
                </div>
                <div class="landinglag">
                    11-19
                </div>
                <div class="notes">
                    Invulnerable on frame 3-21
                </div>
            </div>

            <div class="ContenedorMovimientos">
                <div class="movename">
                    Air Dodge, Up
                </div>
                <div class="totalframes">
                    107
                </div>
                <div class="landinglag">
                    11-19
                </div>
                <div class="notes">
                    Invulnerable on frame 3-21
                </div>
            </div>

        </div>
    </div>
</body>

</html>{% endblock %}