<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" title="foro" href="../css/style.css" />
    <script src="../js/script.js"></script>
    <script src="../js/modernizr.js"></script>
    <script defer src="../js/jquery-2.2.4-min.js"></script>

    <script defer src="../js/main-v1.1.js"></script>
    <title>Portada</title>
</head>

<body>
    <h1 class="NombrePersonaje">Lucina</h1>
    <div id="cd-nav" class="">
        <a href="#0" class="cd-nav-trigger">Menu<span></span></a>

        <nav id="cd-main-nav">
            <ul class="">
                <li><a href="#Neutral">Jabs</a></li>
                <li><a href="#aerialattacks">Aerial Attacks</a></li>
                <li><a href="#specialattacks">Special Attacks</a></li>
                <li><a href="#grabs">Grabs / Throws</a></li>
                <li><a href="#dodges">Dodges / Rolls</a></li>
                <li><a href="#misc">Misc Info</a></li>

            </ul>
        </nav>
    </div>


    <a href="#0" class="cd-nav-trigger">Menu<span></span></a>


    <img class="Portrait" alt="ImagenPersonaje" src="imgPj\lucina.jpg">
    <div class="Contenedor">
        <h2 class="Categoria" id="Neutral">Jabs</h2>
        <div class="moves">

            <div class="ContenedorMovimientos">
                <div class="movename">
                    Jab 1
                </div>
                <div class="startup">
                    4
                </div>
                <div class="totalframes">
                    23
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    Transitions to jab 2 on frame 7
                </div>
                <div class="basedamage">
                    2.0(2.7)
                </div>
                <div class="shieldlag">
                    **
                </div>
                <div class="shieldstun">
                    **
                </div>
                <div class="whichhitbox">
                    --
                </div>
                <div class="advantage">
                    -16
                </div>
                <div class="activeframes">
                    4—5(4—5)
                </div>
            </div>

            <div class="ContenedorMovimientos">
                <div class="movename">
                    Jab 2
                </div>
                <div class="startup">
                    3
                </div>
                <div class="totalframes">
                    23
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    Transitions to jab 3 on frame 11
                </div>
                <div class="basedamage">
                    1.5(2.2)
                </div>
                <div class="shieldlag">
                    --
                </div>
                <div class="shieldstun">
                    **
                </div>
                <div class="whichhitbox">
                    --
                </div>
                <div class="advantage">
                    -17
                </div>
                <div class="activeframes">
                    3—4(3—4)
                </div>
            </div>

            <div class="ContenedorMovimientos">
                <div class="movename">
                    Jab 3
                </div>
                <div class="startup">
                    3
                </div>
                <div class="totalframes">
                    34
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    --
                </div>
                <div class="basedamage">
                    4.0(7.1)
                </div>
                <div class="shieldlag">
                    --
                </div>
                <div class="shieldstun">
                    **
                </div>
                <div class="whichhitbox">
                    --
                </div>
                <div class="advantage">
                    -26
                </div>
                <div class="activeframes">
                    3—4(3—4)
                </div>
            </div>

            <div class="ContenedorMovimientos">
                <div class="movename">
                    Forward Tilt
                </div>
                <div class="startup">
                    8/13
                </div>
                <div class="totalframes">
                    34
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    --
                </div>
                <div class="basedamage">
                    3.0/5.0(3.0/10.0)
                </div>
                <div class="shieldlag">
                    **
                </div>
                <div class="shieldstun">
                    **
                </div>
                <div class="whichhitbox">
                    --
                </div>
                <div class="advantage">
                    **/-15(**/-11)
                </div>
                <div class="activeframes">
                    8—9/13—15(8—9/13—19)
                </div>
            </div>

            <div class="ContenedorMovimientos">
                <div class="movename">
                    Up Tilt
                </div>
                <div class="startup">
                    8/11/14/17/20
                </div>
                <div class="totalframes">
                    40
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    Rehit rate: 3
                </div>
                <div class="basedamage">
                    4.0/1.0/1.0 (4.0/1.7/3.9)
                </div>
                <div class="shieldlag">
                    **
                </div>
                <div class="shieldstun">
                    **
                </div>
                <div class="whichhitbox">
                    First/Multi/Final
                </div>
                <div class="advantage">
                    -27
                </div>
                <div class="activeframes">
                    8/9(11—19) [Final Hit: 20—23(20—23)]
                </div>
            </div>

            <div class="ContenedorMovimientos">
                <div class="movename">
                    Down Tilt
                </div>
                <div class="startup">
                    8
                </div>
                <div class="totalframes">
                    37
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    --
                </div>
                <div class="basedamage">
                    6.0(13.0)
                </div>
                <div class="shieldlag">
                    **
                </div>
                <div class="shieldstun">
                    **
                </div>
                <div class="whichhitbox">
                    --
                </div>
                <div class="advantage">
                    -22(-19)
                </div>
                <div class="activeframes">
                    8—9/10—11/12—14(8—9/10—11/12—14)
                </div>
            </div>

            <div class="ContenedorMovimientos">
                <div class="movename">
                    Dash Attack
                </div>
                <div class="startup">
                    6/15
                </div>
                <div class="totalframes">
                    45
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    --
                </div>
                <div class="basedamage">
                    2.0/6.0 (2.0/12.0)
                </div>
                <div class="shieldlag">
                    **
                </div>
                <div class="shieldstun">
                    **
                </div>
                <div class="whichhitbox">
                    --
                </div>
                <div class="advantage">
                    **/-23
                </div>
                <div class="activeframes">
                    6—7/15—23(--/15—21)
                </div>
            </div>

            <div class="ContenedorMovimientos">
                <div class="movename">
                    Forward Smash
                </div>
                <div class="startup">
                    16
                </div>
                <div class="totalframes">
                    47
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    Charge hold is frame 5
                </div>
                <div class="basedamage">
                    14.0(22.0)
                </div>
                <div class="shieldlag">
                    **
                </div>
                <div class="shieldstun">
                    **
                </div>
                <div class="whichhitbox">
                    --
                </div>
                <div class="advantage">
                    -21
                </div>
                <div class="activeframes">
                    16—18(16—19)
                </div>
            </div>

            <div class="ContenedorMovimientos">
                <div class="movename">
                    Up Smash
                </div>
                <div class="startup">
                    10
                </div>
                <div class="totalframes">
                    51
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    Charge hold is frame 4
                </div>
                <div class="basedamage">
                    12.0(17.0)
                </div>
                <div class="shieldlag">
                    **
                </div>
                <div class="shieldstun">
                    **
                </div>
                <div class="whichhitbox">
                    --
                </div>
                <div class="advantage">
                    -32(-30)
                </div>
                <div class="activeframes">
                    10—14(10—14)
                </div>
            </div>

            <div class="ContenedorMovimientos">
                <div class="movename">
                    Down Smash
                </div>
                <div class="startup">
                    12/16
                </div>
                <div class="totalframes">
                    51
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    Charge hold is frame 5
                </div>
                <div class="basedamage">
                    12.0(18.0)
                </div>
                <div class="shieldlag">
                    **
                </div>
                <div class="shieldstun">
                    **
                </div>
                <div class="whichhitbox">
                    --
                </div>
                <div class="advantage">
                    -24/-20(--/-18)
                </div>
                <div class="activeframes">
                    12—13/16—17(12—13/16—17)
                </div>
            </div>

        </div>
    </div>
</body>

</html>