<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" title="foro" href="../css/style.css" />
    <script src="../js/script.js"></script>
    <script src="../js/modernizr.js"></script>
    <script defer src="../js/jquery-2.2.4-min.js"></script>

    <script defer src="../js/main-v1.1.js"></script>
    <title>Portada</title>
</head>

<body>
    <h1 class="NombrePersonaje">Suegro</h1>
    <div id="cd-nav" class="">
        <a href="#0" class="cd-nav-trigger">Menu<span></span></a>

        <nav id="cd-main-nav">
            <ul class="">
                <li><a href="#Neutral">Normales</a></li>
                <li><a href="#aerialattacks">Golpes Aereos</a></li>
                <li><a href="#specialattacks">Habilidades</a></li>
                <li><a href="#grabs">Agarres/Grabs</a></li>
                <li><a href="#dodges">Esquivar/ Rolls</a></li>
                <li><a href="#misc">Informacion extra</a></li>


            </ul>
        </nav>
    </div>


    <a href="#0" class="cd-nav-trigger">Menu<span></span></a>


    <img class="Portrait" alt="ImagenPersonaje" src="imgPj/chrom.jpg">
    <div class="Contenedor">
        <h2 class="Categoria" id="Neutral">Normales</h2>
        <div class="moves">

            <div class="movecontainer">
                <div class="movename">
                    Jab
                </div>
                <div class="startup">
                    5
                </div>
                <div class="totalframes">
                    22
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    --
                </div>
                <div class="basedamage">
                    6.5
                </div>
                <div class="shieldlag">
                    9
                </div>
                <div class="shieldstun">
                    7
                </div>
                <div class="whichhitbox">
                    --
                </div>
                <div class="advantage">
                    -10
                </div>
                <div class="activeframes">
                    5—7
                </div>
            </div>

            <div class="movecontainer">
                <div class="movename">
                    Forward Tilt
                </div>
                <div class="startup">
                    8
                </div>
                <div class="totalframes">
                    33
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    --
                </div>
                <div class="basedamage">
                    10.9
                </div>
                <div class="shieldlag">
                    8
                </div>
                <div class="shieldstun">
                    10
                </div>
                <div class="whichhitbox">
                    --
                </div>
                <div class="advantage">
                    -15
                </div>
                <div class="activeframes">
                    8—10
                </div>
            </div>

            <div class="movecontainer">
                <div class="movename">
                    Up Tilt
                </div>
                <div class="startup">
                    6
                </div>
                <div class="totalframes">
                    38
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    --
                </div>
                <div class="basedamage">
                    10.4
                </div>
                <div class="shieldlag">
                    8
                </div>
                <div class="shieldstun">
                    10
                </div>
                <div class="whichhitbox">
                    Early/Normal/Late
                </div>
                <div class="advantage">
                    -22
                </div>
                <div class="activeframes">
                    6/7—8/9—11
                </div>
            </div>

            <div class="movecontainer">
                <div class="movename">
                    Down Tilt
                </div>
                <div class="startup">
                    7
                </div>
                <div class="totalframes">
                    21
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    --
                </div>
                <div class="basedamage">
                    9.0
                </div>
                <div class="shieldlag">
                    7
                </div>
                <div class="shieldstun">
                    9
                </div>
                <div class="whichhitbox">
                    --
                </div>
                <div class="advantage">
                    -5
                </div>
                <div class="activeframes">
                    7—8
                </div>
            </div>

            <div class="movecontainer">
                <div class="movename">
                    Dash Attack
                </div>
                <div class="startup">
                    13
                </div>
                <div class="totalframes">
                    45
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    --
                </div>
                <div class="basedamage">
                    12.0
                </div>
                <div class="shieldlag">
                    12
                </div>
                <div class="shieldstun">
                    11
                </div>
                <div class="whichhitbox">
                    --
                </div>
                <div class="advantage">
                    -21
                </div>
                <div class="activeframes">
                    13—16
                </div>
            </div>

            <div class="movecontainer">
                <div class="movename">
                    Forward Smash
                </div>
                <div class="startup">
                    13
                </div>
                <div class="totalframes">
                    53
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    Charge hold is frame 6
                </div>
                <div class="basedamage">
                    18.0
                </div>
                <div class="shieldlag">
                    15
                </div>
                <div class="shieldstun">
                    12
                </div>
                <div class="whichhitbox">
                    --
                </div>
                <div class="advantage">
                    -28
                </div>
                <div class="activeframes">
                    13—14
                </div>
            </div>

            <div class="movecontainer">
                <div class="movename">
                    Up Smash
                </div>
                <div class="startup">
                    12/13/15/17/19/22
                </div>
                <div class="totalframes">
                    58
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    Forearm intangibility on frame 10-23. Charge hold is frame 4
                </div>
                <div class="basedamage">
                    1.0/2.0/10.0
                </div>
                <div class="shieldlag">
                    5/4/9
                </div>
                <div class="shieldstun">
                    2/-/7
                </div>
                <div class="whichhitbox">
                    First/multi/final
                </div>
                <div class="advantage">
                    -29
                </div>
                <div class="activeframes">
                    12/13/15/17/19/22—23
                </div>
            </div>

            <div class="movecontainer">
                <div class="movename">
                    Down Smash
                </div>
                <div class="startup">
                    6/21
                </div>
                <div class="totalframes">
                    62
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    Charge hold is frame 3
                </div>
                <div class="basedamage">
                    12.3/14.2
                </div>
                <div class="shieldlag">
                    9/10
                </div>
                <div class="shieldstun">
                    9/10
                </div>
                <div class="whichhitbox">
                    --
                </div>
                <div class="advantage">
                    -47/-31
                </div>
                <div class="activeframes">
                    6—7/21—22
                </div>
            </div>

        </div>

        <h2 class="movecategory" id="aerialattacks">
            Golpes Aereos </h2>

        <div class="moves">

            <div class="movecontainer">
                <div class="movename">
                    Neutral Air
                </div>
                <div class="startup">
                    6/15
                </div>
                <div class="totalframes">
                    45
                </div>
                <div class="landinglag">
                    9
                </div>
                <div class="notes">
                    Autocancels on frame 47 onward
                </div>
                <div class="basedamage">
                    4.7/6.6
                </div>
                <div class="shieldlag">
                    6/6
                </div>
                <div class="shieldstun">
                    3/3
                </div>
                <div class="whichhitbox">
                    --
                </div>
                <div class="advantage">
                    -6/-6
                </div>
                <div class="activeframes">
                    6—7/15—21
                </div>
            </div>

            <div class="movecontainer">
                <div class="movename">
                    Forward Air
                </div>
                <div class="startup">
                    10
                </div>
                <div class="totalframes">
                    29
                </div>
                <div class="landinglag">
                    8
                </div>
                <div class="notes">
                    Autocancels on frame 31 onward
                </div>
                <div class="basedamage">
                    9.0
                </div>
                <div class="shieldlag">
                    7
                </div>
                <div class="shieldstun">
                    4
                </div>
                <div class="whichhitbox">
                    --
                </div>
                <div class="advantage">
                    -4
                </div>
                <div class="activeframes">
                    10—12
                </div>
            </div>

            <div class="movecontainer">
                <div class="movename">
                    Back Air
                </div>
                <div class="startup">
                    8
                </div>
                <div class="totalframes">
                    35
                </div>
                <div class="landinglag">
                    10
                </div>
                <div class="notes">
                    Autocancels on frame 1-2 and 32 onward
                </div>
                <div class="basedamage">
                    10.9
                </div>
                <div class="shieldlag">
                    10
                </div>
                <div class="shieldstun">
                    4
                </div>
                <div class="whichhitbox">
                    --
                </div>
                <div class="advantage">
                    -6
                </div>
                <div class="activeframes">
                    8—10
                </div>
            </div>

            <div class="movecontainer">
                <div class="movename">
                    Up Air
                </div>
                <div class="startup">
                    5
                </div>
                <div class="totalframes">
                    41
                </div>
                <div class="landinglag">
                    8
                </div>
                <div class="notes">
                    Autocancels on frame 1-2 and 38 onward
                </div>
                <div class="basedamage">
                    7.6
                </div>
                <div class="shieldlag">
                    7
                </div>
                <div class="shieldstun">
                    4
                </div>
                <div class="whichhitbox">
                    --
                </div>
                <div class="advantage">
                    -4
                </div>
                <div class="activeframes">
                    5—12
                </div>
            </div>

            <div class="movecontainer">
                <div class="movename">
                    Down Air
                </div>
                <div class="startup">
                    16
                </div>
                <div class="totalframes">
                    51
                </div>
                <div class="landinglag">
                    14
                </div>
                <div class="notes">
                    Autocancels on frame 1-2 and 52 onward
                </div>
                <div class="basedamage">
                    14.2
                </div>
                <div class="shieldlag">
                    12
                </div>
                <div class="shieldstun">
                    5
                </div>
                <div class="whichhitbox">
                    --
                </div>
                <div class="advantage">
                    -9
                </div>
                <div class="activeframes">
                    16—17
                </div>
            </div>

        </div>

        <h2 class="movecategory" id="specialattacks">
            Habilidades
        </h2>

        <div class="moves">

            <div class="movecontainer">
                <div class="movename">
                    Neutral B (Flare Blade)
                </div>
                <div class="startup">
                    21-260
                </div>
                <div class="totalframes">
                    44-283
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    Startup is 10 from release. 11 frames to enter charge state.
                </div>
                <div class="basedamage">
                    8.0—50.0
                </div>
                <div class="shieldlag">
                    7—21
                </div>
                <div class="shieldstun">
                    8—...
                </div>
                <div class="whichhitbox">
                    --
                </div>
                <div class="advantage">
                    -15—Shieldbreak
                </div>
                <div class="activeframes">
                    21—24 (or 10—14 from release)
                </div>
            </div>

            <div class="movecontainer">
                <div class="movename">
                    Side B, Hit 1 (Double Edged Dance, Hit 1)
                </div>
                <div class="startup">
                    9
                </div>
                <div class="totalframes">
                    39/29
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    Second total frames is from the air. Can transition to next slash as early as frame 12.
                </div>
                <div class="basedamage">
                    2.8
                </div>
                <div class="shieldlag">
                    5
                </div>
                <div class="shieldstun">
                    4
                </div>
                <div class="whichhitbox">
                    --
                </div>
                <div class="advantage">
                    -26/-16(air)
                </div>
                <div class="activeframes">
                    9—11
                </div>
            </div>

            <div class="movecontainer">
                <div class="movename">
                    Double Edged Dance, Hit 2 Neutral
                </div>
                <div class="startup">
                    5
                </div>
                <div class="totalframes">
                    38
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    Can transition to next slash as early as frame 8.
                </div>
                <div class="basedamage">
                    2.8
                </div>
                <div class="shieldlag">
                    5
                </div>
                <div class="shieldstun">
                    4
                </div>
                <div class="whichhitbox">
                    --
                </div>
                <div class="advantage">
                    -29
                </div>
                <div class="activeframes">
                    5—7
                </div>
            </div>

            <div class="movecontainer">
                <div class="movename">
                    Double Edged Dance, Hit 3 Neutral
                </div>
                <div class="startup">
                    4
                </div>
                <div class="totalframes">
                    43
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    Can transition to next slash as early as frame 7.
                </div>
                <div class="basedamage">
                    3.8
                </div>
                <div class="shieldlag">
                    5
                </div>
                <div class="shieldstun">
                    5
                </div>
                <div class="whichhitbox">
                    --
                </div>
                <div class="advantage">
                    -34
                </div>
                <div class="activeframes">
                    4—6
                </div>
            </div>

            <div class="movecontainer">
                <div class="movename">
                    Double Edged Dance, Hit 4 Neutral
                </div>
                <div class="startup">
                    7
                </div>
                <div class="totalframes">
                    58
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    --
                </div>
                <div class="basedamage">
                    5.2
                </div>
                <div class="shieldlag">
                    9
                </div>
                <div class="shieldstun">
                    6
                </div>
                <div class="whichhitbox">
                    --
                </div>
                <div class="advantage">
                    -45
                </div>
                <div class="activeframes">
                    7—9
                </div>
            </div>

            <div class="movecontainer">
                <div class="movename">
                    Double Edged Dance, Hit 2 Up
                </div>
                <div class="startup">
                    4
                </div>
                <div class="totalframes">
                    38
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    Can transition to next slash as early as frame 8.
                </div>
                <div class="basedamage">
                    2.8
                </div>
                <div class="shieldlag">
                    5
                </div>
                <div class="shieldstun">
                    4
                </div>
                <div class="whichhitbox">
                    --
                </div>
                <div class="advantage">
                    -30
                </div>
                <div class="activeframes">
                    4—6
                </div>
            </div>

            <div class="movecontainer">
                <div class="movename">
                    Double Edged Dance, Hit 3 Up
                </div>
                <div class="startup">
                    5
                </div>
                <div class="totalframes">
                    43
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    Can transition to next slash as early as frame 8.
                </div>
                <div class="basedamage">
                    3.8
                </div>
                <div class="shieldlag">
                    5
                </div>
                <div class="shieldstun">
                    5
                </div>
                <div class="whichhitbox">
                    --
                </div>
                <div class="advantage">
                    -33
                </div>
                <div class="activeframes">
                    5—7
                </div>
            </div>

            <div class="movecontainer">
                <div class="movename">
                    Double Edged Dance, Hit 4 Up
                </div>
                <div class="startup">
                    6
                </div>
                <div class="totalframes">
                    44
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    --
                </div>
                <div class="basedamage">
                    6.4
                </div>
                <div class="shieldlag">
                    8
                </div>
                <div class="shieldstun">
                    7
                </div>
                <div class="whichhitbox">
                    --
                </div>
                <div class="advantage">
                    -31
                </div>
                <div class="activeframes">
                    6—10
                </div>
            </div>

            <div class="movecontainer">
                <div class="movename">
                    Double Edged Dance, Hit 3 Down
                </div>
                <div class="startup">
                    5
                </div>
                <div class="totalframes">
                    44
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    Can transition to next slash as early as frame 8
                </div>
                <div class="basedamage">
                    3.8
                </div>
                <div class="shieldlag">
                    5
                </div>
                <div class="shieldstun">
                    5
                </div>
                <div class="whichhitbox">
                    --
                </div>
                <div class="advantage">
                    -34
                </div>
                <div class="activeframes">
                    5—7
                </div>
            </div>

            <div class="movecontainer">
                <div class="movename">
                    Double Edged Dance, Hit 4 Down
                </div>
                <div class="startup">
                    7/10/13/16/19
                </div>
                <div class="totalframes">
                    71
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    --
                </div>
                <div class="basedamage">
                    2.0/4.2
                </div>
                <div class="shieldlag">
                    4/8
                </div>
                <div class="shieldstun">
                    -/5
                </div>
                <div class="whichhitbox">
                    multi/final
                </div>
                <div class="advantage">
                    -47
                </div>
                <div class="activeframes">
                    7/10/13/16/19—21
                </div>
            </div>

            <div class="movecontainer">
                <div class="movename">
                    Up B (Soaring Slash)
                </div>
                <div class="startup">
                    10/39/53/**
                </div>
                <div class="totalframes">
                    --
                </div>
                <div class="landinglag">
                    36
                </div>
                <div class="notes">
                    Landing hit on frame 1, Super armor on frame 10-30. Ending just before he ascends
                </div>
                <div class="basedamage">
                    6.0/1.5/6.0/6.0
                </div>
                <div class="shieldlag">
                    10/4/6/7
                </div>
                <div class="shieldstun">
                    6/3/6/6
                </div>
                <div class="whichhitbox">
                    First/multi/falling/landing
                </div>
                <div class="advantage">
                    -29
                </div>
                <div class="activeframes">
                    10—11/39.../53.../1—4
                </div>
            </div>


            <div class="movecontainer">
                <div class="movename">
                    Down B (Counter)
                </div>
                <div class="startup">
                    8 (Start of Counter)
                </div>
                <div class="totalframes">
                    67
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    Invulnerable on frame 7. Counters on 8-29 from 8-27.
                </div>
                <div class="basedamage">
                    --
                </div>
                <div class="shieldlag">
                    --
                </div>
                <div class="shieldstun">
                    --
                </div>
                <div class="whichhitbox">
                    --
                </div>
                <div class="advantage">
                    --
                </div>
                <div class="activeframes">
                    --
                </div>
            </div>

            <div class="movecontainer">
                <div class="movename">
                    Counter, Attack
                </div>
                <div class="startup">
                    4
                </div>
                <div class="totalframes">
                    40
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    Invulnerable on frame 1-5. In addition to counter freeze frames
                </div>
                <div class="basedamage">
                    --
                </div>
                <div class="shieldlag">
                    --
                </div>
                <div class="shieldstun">
                    --
                </div>
                <div class="whichhitbox">
                    --
                </div>
                <div class="advantage">
                    --
                </div>
                <div class="activeframes">
                    4—5
                </div>
            </div>

        </div>

        <h2 class="movecategory" id="grabs">
            Grabs / Agarres
        </h2>

        <div class="moves">

            <div class="movecontainer">
                <div class="movename">
                    Grab
                </div>
                <div class="startup">
                    7
                </div>
                <div class="totalframes">
                    36
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    --
                </div>
                <div class="basedamage">
                    --
                </div>
            </div>

            <div class="movecontainer">
                <div class="movename">
                    Dash Grab
                </div>
                <div class="startup">
                    10
                </div>
                <div class="totalframes">
                    44
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    --
                </div>
                <div class="basedamage">
                    --
                </div>
            </div>

            <div class="movecontainer">
                <div class="movename">
                    Pivot Grab
                </div>
                <div class="startup">
                    11
                </div>
                <div class="totalframes">
                    39
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    --
                </div>
                <div class="basedamage">
                    --
                </div>
            </div>

            <div class="movecontainer">
                <div class="movename">
                    Pummel
                </div>
                <div class="startup">
                    1
                </div>
                <div class="totalframes">
                    19
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    Total frames includes 14 frames of hitlag
                </div>
                <div class="basedamage">
                    1.3
                </div>
            </div>

            <div class="movecontainer">
                <div class="movename">
                    Forward Throw
                </div>
                <div class="startup">
                    15
                </div>
                <div class="totalframes">
                    31
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    --
                </div>
                <div class="basedamage">
                    5.0
                </div>
            </div>

            <div class="movecontainer">
                <div class="movename">
                    Backward Throw
                </div>
                <div class="startup">
                    8
                </div>
                <div class="totalframes">
                    44
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    --
                </div>
                <div class="basedamage">
                    5.0
                </div>
            </div>

            <div class="movecontainer">
                <div class="movename">
                    Up Throw
                </div>
                <div class="startup">
                    13
                </div>
                <div class="totalframes">
                    44
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    --
                </div>
                <div class="basedamage">
                    6.0
                </div>
            </div>

            <div class="movecontainer">
                <div class="movename">
                    Down Throw
                </div>
                <div class="startup">
                    16
                </div>
                <div class="totalframes">
                    41
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    --
                </div>
                <div class="basedamage">
                    5.0
                </div>
            </div>

        </div>

        <h2 class="movecategory" id="dodges">
            Esquivar/ Rolls
        </h2>

        <div class="moves">

            <div class="movecontainer">
                <div class="movename">
                    Spot Dodge
                </div>
                <div class="totalframes">
                    20/25
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    Invulnerable on frame 3-17
                </div>
            </div>

            <div class="movecontainer">
                <div class="movename">
                    Forward Roll
                </div>
                <div class="totalframes">
                    29
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    Invulnerable on frame 4-15
                </div>
            </div>

            <div class="movecontainer">
                <div class="movename">
                    Backward Roll
                </div>
                <div class="totalframes">
                    34
                </div>
                <div class="landinglag">
                    --
                </div>
                <div class="notes">
                    Invulnerable on frame 5-16
                </div>
            </div>

            <div class="movecontainer">
                <div class="movename">
                    Neutral Air Dodge
                </div>
                <div class="totalframes">
                    44
                </div>
                <div class="landinglag">
                    10
                </div>
                <div class="notes">
                    Invulnerable on frame 3-29
                </div>
            </div>

            <div class="movecontainer">
                <div class="movename">
                    Air Dodge, Down
                </div>
                <div class="totalframes">
                    62
                </div>
                <div class="landinglag">
                    11-19
                </div>
                <div class="notes">
                    Invulnerable on frame 3-21
                </div>
            </div>

            <div class="movecontainer">
                <div class="movename">
                    Air Dodge, Diagonally Down
                </div>
                <div class="totalframes">
                    68
                </div>
                <div class="landinglag">
                    11-19
                </div>
                <div class="notes">
                    Invulnerable on frame 3-21
                </div>
            </div>

            <div class="movecontainer">
                <div class="movename">
                    Air Dodge, Left/Right
                </div>
                <div class="totalframes">
                    74
                </div>
                <div class="landinglag">
                    11-19
                </div>
                <div class="notes">
                    Invulnerable on frame 3-21
                </div>
            </div>

            <div class="movecontainer">
                <div class="movename">
                    Air Dodge, Diagonally Up
                </div>
                <div class="totalframes">
                    87
                </div>
                <div class="landinglag">
                    11-19
                </div>
                <div class="notes">
                    Invulnerable on frame 3-21
                </div>
            </div>

            <div class="movecontainer">
                <div class="movename">
                    Air Dodge, Up
                </div>
                <div class="totalframes">
                    97
                </div>
                <div class="landinglag">
                    11-19
                </div>
                <div class="notes">
                    Invulnerable on frame 3-21
                </div>
            </div>

        </div>
    </div>
</body>

</html>