{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/Portada.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>"Robin Resources"</title>
</head>
<header>

</header>
<ul class="">
    <li><a href="{% url 'blog:home' %}">Menu Principal</a></li>
</ul>

<body style='background: #333333'>
    <div class="social-bar">
        <a href="https://discord.gg/yKGC4zD" class="fab fa-discord" target="_blank"></a>
        <a href="https://mail.google.com/mail/u/0/?tab=im#inbox?compose=DmwnWstqxHDbTxRcgMKbsdhlPkXltWxtxTTQgHqVRccSFZMzTGwzqhVkfkXQGqDNfjTfqWtwghmL" class="fab fa-google-plus-g" target="_blank"></a>
        <a href="https://www.twitter.com/" class="fab fa-twitter" target="_blank"></a>
    </div>
    <div class="Encabezado">
        <h1>Selecciona tu personaje</h1>

    </div>
    <div id="listaPersonajes" class="NavegadorPersonajes">

        <div class="Cajapersonaje Joker">
            <a title="Joker" href="{% url 'personajes:joker' %}">Joker</a>
        </div>
        <div class="Cajapersonaje Ike">
            <a title="Ike" href="{% url 'personajes:ike' %}">Ike</a>
        </div>
        <div class="Cajapersonaje Corrin">
            <a title="Corrin" href="{% url 'personajes:corrin' %}">Corrin</a>
        </div>
        <div class="Cajapersonaje Cloud">
            <a title="Cloud" href="{% url 'personajes:cloud' %}">Cloud</a>
        </div>
        <div class="Cajapersonaje Robin">
            <a title="Robin" href="{% url 'personajes:robin' %}">Best Tactician Ever</a>
        </div>
        <div class="Cajapersonaje Marth">
            <a title="Marth" href="{% url 'personajes:marth' %}">Marth</a>
        </div>
        <div class="Cajapersonaje Link">
            <a title="Link" href="">Link</a>
        </div>
        <div class="Cajapersonaje Pit">
            <a title="Pit" href="{% url 'personajes:pit' %}">Pit Nigga</a>
        </div>
        <div class="Cajapersonaje Lucina">
            <a title="Lucina" href="{% url 'personajes:lucina' %}">Lucina</a>
        </div>
        <div class="Cajapersonaje Pulpo">
            <a title="Pulpo" href="{% url 'personajes:inkling' %}">Inkling</a>
        </div>
        <div class="Cajapersonaje Chrom">
            <a title="Chrom" href="{% url 'personajes:chrom' %}">Suegro del Tactician</a>
        </div>
        <div class="Cajapersonaje Roy">
            <a title="Roy" href="{% url 'personajes:roy' %}">Alt del Suegro</a>
        </div>
        <div class="Cajapersonaje Bayonetta">
            <a title="Bayonetta" href="{% url 'personajes:Bayonetta' %}">Bayonetta</a>
        </div>
        <div class="Cajapersonaje Bowser">
            <a title="Bowser" href="{% url 'personajes:Bowser' %}">Bowser</a>
        </div>
        <div class="Cajapersonaje Daisy">
            <a title="Daisy" href="{% url 'personajes:Daisy' %}">Daisy</a>
        </div>
        <div class="Cajapersonaje Dark_samus">
            <a title="Dark_samus" href="{% url 'personajes:Dark_samus' %}">Dark samus</a>
        </div>
        <div class="Cajapersonaje Diddy_kong">
            <a title="Diddy_kong" href="{% url 'personajes:Diddy_kong' %}">Diddy kong</a>
        </div>
        <div class="Cajapersonaje Donkey_kong">
            <a title="Donkey_kong" href="{% url 'personajes:Donkey_kong' %}">Donkey kong</a>
        </div>
        <div class="Cajapersonaje Dr_mario">
            <a title="Dr_mario" href="{% url 'personajes:Dr_mario' %}">Dr mario</a>
        </div>
        <div class="Cajapersonaje Duck_hunt">
            <a title="Duck_hunt" href="{% url 'personajes:Duck_hunt' %}">Duck Hunt</a>
        </div>
        <div class="Cajapersonaje falco">
            <a title="falco" href="{% url 'personajes:falco' %}">Falco</a>
        </div>
        <div class="Cajapersonaje fox">
            <a title="fox" href="{% url 'personajes:fox' %}">Fox</a>
        </div>
        <div class="Cajapersonaje ganondorf">
            <a title="ganondorf" href="{% url 'personajes:ganondorf' %}">Ganondorf</a>
        </div>
        <div class="Cajapersonaje greninja">
            <a title="greninja" href="{% url 'personajes:greninja' %}">Greninja</a>
        </div>
        <div class="Cajapersonaje hero">
            <a title="hero" href="{% url 'personajes:hero' %}">Hero</a>
        </div>
        <div class="Cajapersonaje ice_climbers">
            <a title="ice_climbers" href="{% url 'personajes:ice_climbers' %}">Ice climbers</a>
        </div>
        <div class="Cajapersonaje incineroar">
            <a title="incineroar" href="{% url 'personajes:incineroar' %}">Incineroar</a>
        </div>
        <div class="Cajapersonaje isabelle">
            <a title="isabelle" href="{% url 'personajes:isabelle' %}">isabelle</a>
        </div>
        <div class="Cajapersonaje jigglypuff">
            <a title="jigglypuff" href="{% url 'personajes:jigglypuff' %}">jigglypuff</a>
        </div>
        <div class="Cajapersonaje ken">
            <a title="ken" href="{% url 'personajes:ken' %}">Ken</a>
        </div>
        <div class="Cajapersonaje king_dedede">
            <a title="king_dedede" href="{% url 'personajes:king_dedede' %}">King Dedede</a>
        </div>
        <div class="Cajapersonaje king_k_rool">
            <a title="king_k_rool" href="{% url 'personajes:king_k_rool' %}">King K Rool</a>
        </div>
        <div class="Cajapersonaje kirby">
            <a title="kirby" href="{% url 'personajes:kirby' %}">Kirby</a>
        </div>
        <div class="Cajapersonaje little_mac">
            <a title="little_mac" href="{% url 'personajes:little_mac' %}">Little Mac</a>
        </div>
        <div class="Cajapersonaje lucario">
            <a title="lucario" href="{% url 'personajes:lucario' %}">Lucario</a>
        </div>
        <div class="Cajapersonaje lucas">
            <a title="lucas" href="{% url 'personajes:lucas' %}">Lucas</a>
        </div>
        <div class="Cajapersonaje luigi">
            <a title="luigi" href="{% url 'personajes:luigi' %}">Luigi</a>
        </div>
        <div class="Cajapersonaje mario">
            <a title="mario" href="{% url 'personajes:mario' %}">Mario</a>
        </div>
        <div class="Cajapersonaje mega_man">
            <a title="mega_man" href="{% url 'personajes:mega_man' %}">Mega Man</a>
        </div>
        <div class="Cajapersonaje meta_knight">
            <a title="meta_knight" href="{% url 'personajes:meta_knight' %}">Meta Knight</a>
        </div>
        <div class="Cajapersonaje mewtwo">
            <a title="mewtwo" href="{% url 'personajes:mewtwo' %}">Mewtwo</a>
        </div>
        <div class="Cajapersonaje mr_game_and_watch">
            <a title="mr_game_and_watch" href="{% url 'personajes:mr_game_and_watch' %}">Mr game and watch</a>
        </div>
        <div class="Cajapersonaje ness">
            <a title="ness" href="{% url 'personajes:ness' %}">Ness</a>
        </div>
        <div class="Cajapersonaje pac_man">
            <a title="pac_man" href="{% url 'personajes:pac_man' %}">Pac Man</a>
        </div>
        <div class="Cajapersonaje palutena">
            <a title="palutena" href="{% url 'personajes:palutena' %}">Palutena</a>
        </div>
        <div class="Cajapersonaje peach">
            <a title="peach" href="{% url 'personajes:peach' %}">Peach</a>
        </div>
        <div class="Cajapersonaje pichu">
            <a title="pichu" href="{% url 'personajes:pichu' %}">Pichu</a>
        </div>
        <div class="Cajapersonaje pikachu">
            <a title="pikachu" href="{% url 'personajes:pikachu' %}">Pikachu</a>
        </div>
        <div class="Cajapersonaje piranha_plant">
            <a title="piranha_plant" href="{% url 'personajes:piranha_plant' %}">Piranha Plant</a>
        </div>
        <div class="Cajapersonaje pt_charizard">
            <a title="pt_charizard" href="{% url 'personajes:pt_charizard' %}">Charizard</a>
        </div>
        <div class="Cajapersonaje pt_ivysaur">
            <a title="pt_ivysaur" href="{% url 'personajes:pt_ivysaur' %}">Ivysaur</a>
        </div>
        <div class="Cajapersonaje pt_squirtle">
            <a title="pt_squirtle" href="{% url 'personajes:pt_squirtle' %}">Squirtle</a>
        </div>
        <div class="Cajapersonaje richter">
            <a title="richter" href="{% url 'personajes:richter' %}">Richter</a>
        </div>
        <div class="Cajapersonaje ridley">
            <a title="ridley" href="{% url 'personajes:ridley' %}">Ridley</a>
        </div>
        <div class="Cajapersonaje ryu">
            <a title="ryu" href="{% url 'personajes:ryu' %}">Ryu</a>
        </div>
        <div class="Cajapersonaje samus">
            <a title="samus" href="{% url 'personajes:samus' %}">Samus</a>
        </div>
        <div class="Cajapersonaje simon">
            <a title="simon" href="{% url 'personajes:simon' %}">Simon</a>
        </div>
        <div class="Cajapersonaje snake">
            <a title="snake" href="{% url 'personajes:snake' %}">snake</a>
        </div>
        <div class="Cajapersonaje sonic">
            <a title="sonic" href="{% url 'personajes:sonic' %}">sonic</a>
        </div>
        <div class="Cajapersonaje terry">
            <a title="terry" href="{% url 'personajes:terry' %}">Terry</a>
        </div>
        <div class="Cajapersonaje wolf">
            <a title="wolf" href="{% url 'personajes:wolf' %}">wolf</a>
        </div>
        <div class="Cajapersonaje young_link">
            <a title="young_link" href="{% url 'personajes:young_link' %}">Young Link</a>
        </div>

        <style>
            html {
                background: #333;
            }
        </style>

</body>

</html>