{% extends 'blog/base.html' %} {% block content %}

<div class="Categoria">Tabla de tiers </div>
<table id="tiers1" class="tierstable">
    <thead>
        <tr class="headerRow">
            <th class="tdgradient">Posicion</th>
            <th class="tdgradient"></th>
            <th class="tdgradient">Character</th>


        </tr>
    </thead>
    <tbody>




        <tr class="ContenedorMovimientos">
            <td class="tierstdnorm"> </td>
            <td class="tierstdnorm"> </td>
            <td class="tierstdnorm">
                <a href="/tiers/ssbu/character/peach"></a>
            </td>

        </tr>

        <tr class="">
            <td class="tierstdnorm">1</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="{% url 'personajes:peach' %}">Peach / Daisy</a></td>

        </tr>
        <tr class="">
            <td class="tierstdnorm">2</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="{% url 'personajes:pikachu' %}">Pikachu</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">3</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="{% url 'personajes:joker' %}">Joker</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">4</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="{% url 'personajes:lucina' %}">Lucina</a>
            </td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">5</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="{% url 'personajes:snake' %}">Snake</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">6</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="{% url 'personajes:pichu' %}">Pichu</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">7</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="{% url 'personajes:inkling' %}">Inkling</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">8</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="">Pokemon Trainer</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">9</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="{% url 'personajes:roy' %}">Roy</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">10</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="{% url 'personajes:palutena' %}">Palutena</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">11</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="{% url 'personajes:mr_game_and_watch' %}">Mr. Game and Watch</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">12</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="{% url 'personajes:young_link' %}">Young Link</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">13</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="{% url 'personajes:wolf' %}">Wolf</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">14</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="">Zero Suit Samus</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">15</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="">Shulk</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">16</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="{% url 'personajes:mega_man' %}">Mega Man</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">17</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="{% url 'personajes:fox' %}">Fox</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">18</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="">Wario</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">19</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="{% url 'personajes:chrom' %}">Chrom</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">20</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="{% url 'personajes:mario' %}">Mario</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">21</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="">Yoshi</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">22</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="{% url 'personajes:greninja' %}">Greninja</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">23</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="{% url 'personajes:marth' %}">Marth</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">24</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="">Olimar</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">25</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="///character/banjo-kazooie">Banjo-Kazooie</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">26</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="/tiers/ssbu/character/rob">R.O.B.</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">27</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="/tiers/ssbu/character/ike">Ike</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">28</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="/tiers/ssbu/character/falco">Falco</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">29</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="/tiers/ssbu/character/ness">Ness</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">30</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="/tiers/ssbu/character/lucario">Lucario</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">31</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="/tiers/ssbu/character/cloud">Cloud</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">32</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="/tiers/ssbu/character/link">Link</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">33</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="/tiers/ssbu/character/diddy-kong">Diddy Kong</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">34</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="/tiers/ssbu/character/hero">Hero</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">35</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="/tiers/ssbu/character/mewtwo">Mewtwo</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">36</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="/tiers/ssbu/character/toon-link">Toon Link</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">37</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="{% url 'personajes:terry' %}">Terry</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">38</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="/tiers/ssbu/character/bowser">Bowser</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">39</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="/tiers/ssbu/character/sonic">Sonic</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">40</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="/tiers/ssbu/character/ken">Ken</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">41</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="/tiers/ssbu/character/ice-climbers">Ice Climbers</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">42</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="/tiers/ssbu/character/luigi">Luigi</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">43</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="/tiers/ssbu/character/pac-man">Pac-Man</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">44</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="/tiers/ssbu/character/meta-knight">Meta Knight</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">45</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="/tiers/ssbu/character/simon">Simon / Richter</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">46</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="/tiers/ssbu/character/rosalina">Rosalina</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">47</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="/tiers/ssbu/character/ryu">Ryu</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">48</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="/tiers/ssbu/character/captain-falcon">Captain Falcon</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">49</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="/tiers/ssbu/character/samus">Samus / Dark Samus</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">50</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="/tiers/ssbu/character/lucas">Lucas</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">51</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="/tiers/ssbu/character/pit">Pit / Dark Pit</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">52</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="/tiers/ssbu/character/sheik">Sheik</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">53</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="/tiers/ssbu/character/incineroar">Incineroar</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">54</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="/tiers/ssbu/character/wii-fit-trainer">Wii Fit Trainer</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">55</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="/tiers/ssbu/character/mii-swordfighter">Mii Swordfighter</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">56</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="/tiers/ssbu/character/zelda">Zelda</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">57</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="/tiers/ssbu/character/villager">Villager</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">58</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="/tiers/ssbu/character/ridley">Ridley</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">59</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="/tiers/ssbu/character/isabelle">Isabelle</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">60</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="/tiers/ssbu/character/mii-gunner">Mii Gunner</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">61</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="/tiers/ssbu/character/ganondorf">Ganondorf</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">62</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="/tiers/ssbu/character/donkey-kong">Donkey Kong</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">63</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="/tiers/ssbu/character/king-dedede">King Dedede</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">64</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="/tiers/ssbu/character/duck-hunt">Duck Hunt</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">65</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="/tiers/ssbu/character/robin">Robin</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">66</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="/tiers/ssbu/character/piranha-plant">Piranha Plant</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">67</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="/tiers/ssbu/character/bayonetta">Bayonetta</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">68</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="/tiers/ssbu/character/jigglypuff">Jigglypuff</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">69</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="/tiers/ssbu/character/mii-brawler">Mii Brawler</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">70</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="/tiers/ssbu/character/corrin">Corrin</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">71</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="/tiers/ssbu/character/dr-mario">Dr. Mario</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">72</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="/tiers/ssbu/character/kirby">Kirby</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">73</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="{% url 'personajes:king_k_rool' %}">King K. Rool</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">74</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="">Bowser Jr.</a></td>

        </tr>


        <tr class="">
            <td class="tierstdnorm">75</td>
            <td class="tierstdnorm"></td>
            <td class="tierstdnorm"><a href="{% url 'personajes:little_mac' %}">Little Mac</a></td>

        </tr>


    </tbody>
</table>
{% endblock %}