@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:800');
img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

body,
html {
    /* color: #222; */
    background: #fff;
    margin: 0;
}

p {
    line-height: 1.5em;
}

a:visited {
    /* color: #bf2000; */
    text-decoration: none;
}

.tabletitle {
    font-size: 20px;
    background-image: url('Imagenes/chartierstablebg.png');
    padding-top: 5px;
    padding-left: 15px;
    padding-bottom: 13px;
    background-size: contain;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-top: 1px solid lightgray;
    box-shadow: 1px 1px 1px lightgray;
}

table {
    margin: 0;
    padding: 0
}

.tierA {
    min-height: 200px;
    height: 100%;
    margin-top: 10px;
    background-image: url('https://media.eventhubs.com/static/images/tiers_holder_bg.png');
    position: relative;
}

.tierA ol {
    padding-right: 15px;
}

.tierA ol li {
    padding-bottom: 3px;
}

a:hover {
    color: #f22800;
    text-decoration: none;
}

table {
    border-collapse: collapse;
}

.Cajapersonaje {
    margin: 0.9em 0.45em;
    min-height: 120px;
    max-width: 394px;
}

.Cajapersonaje {
    padding: 45;
}

.Encabezado {
    background: #ffc640;
    border-bottom: 6px solid #ff9a40;
    margin: auto;
    text-align: center;
    padding: 0.66em 0.33em;
}

.Encabezado h1 {
    font-size: 18pt;
    padding: 0 0.2em 0 0;
    margin: 0;
    display: inline-block;
    text-transform: uppercase;
}

.NavegadorPersonajes {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0.6em;
    background: #333;
}

.NavegadorPersonajes {
    max-width: 1280px;
    margin: auto;
}

.Cajapersonaje {
    width: 300px;
    flex-grow: 1;
    border: 1px solid #222;
    border-bottom: 3px solid #111;
    text-align: center;
    margin: 0.33em;
    user-select: none;
    background-position: center 15%;
    color: #fff;
    text-shadow: 1px 1px 6px #111;
    font-family: 'Poppins', sans-serif;
    font-size: 22pt;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.1s;
    transition-timing-function: ease-in-out;
}

.ListaPersonajes {
    width: 300px;
    background-attachment: fixed;
    flex-grow: 1;
    border: 1px solid #222;
    border-bottom: 3px solid #111;
    padding: 0;
    text-align: center;
    margin: 0.33em;
    user-select: none;
    background-color: #555;
    background-size: 100%;
    background-repeat: no-repeat;
    color: #fff;
    text-shadow: 1px 1px 6px #111;
    font-family: 'Poppins', sans-serif;
    font-size: 22pt;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.1s;
    transition-timing-function: ease-in-out;
}

.Cajapersonaje:hover,
.Cajapersonaje:active {
    /* Animaciones al pasar el mouses por la caja*/
    border-color: #ffc640;
    border-bottom-color: #ff9a40;
    transition: 0.1s;
    transition-timing-function: ease-in-out;
}

.Cajapersonaje a,
.Cajapersonaje a:visited {
    /* mas animaciones de la wea de los personajes :T*/
    padding: 0.66em 0em;
    width: 100%;
    color: #fff;
    text-shadow: 1px 1px 6px #111;
    font-family: 'Poppins', sans-serif;
    font-size: 22pt;
    text-decoration: none;
}

.Cajapersonaje.Pulpo {
    background-image: url("../Imagenes/inkling.jpg");
    background-position: center 15%;
}

.Cajapersonaje.Cloud {
    background-image: url("../Imagenes/cloud.jpg");
    background-position: center 15%;
}

.Cajapersonaje.Cloud {
    background-image: url("../Imagenes/cloud.jpg");
    background-position: center 15%;
}

.Cajapersonaje.Joker {
    background-image: url("../Imagenes/joker.jpg");
    background-position: center 15%;
}

.Cajapersonaje.Corrin {
    background-image: url("../Imagenes/corrin.jpg");
    background-position: center 15%;
}

.Cajapersonaje.Ike {
    background-image: url("../Imagenes/ike.jpg");
    background-position: center 15%;
}

.Cajapersonaje.Link {
    background-image: url("../Imagenes/link.jpg");
    background-position: center 15%;
}

.Cajapersonaje.Lucina {
    background-image: url("../Imagenes/lucina.jpg");
    background-position: center 15%;
}

.Cajapersonaje.Marth {
    background-image: url("../Imagenes/marth.jpg");
    background-position: center 15%;
}

.Cajapersonaje.Pit {
    background-image: url("../Imagenes/dark_pit.jpg");
    background-position: center 15%;
}

.Cajapersonaje.Roy {
    background-image: url("../Imagenes/roy.jpg");
    background-position: center 15%;
}

.Cajapersonaje.Chrom {
    background-image: url("../Imagenes/chrom.jpg");
    background-position: center 15%;
}

.Cajapersonaje.Robin {
    background-image: url("../Imagenes/robin.jpg");
    background-position: center 15%;
}

.NombrePersonaje {
    text-align: center;
    color: #f000f0;
    background: #333;
    padding: 1em 2em;
    margin: 0 auto 0 auto;
    text-transform: capitalize;
}

.Portrait {
    padding: 0.75em 4em;
    margin: auto;
    display: block;
}

.Categoria {
    margin: 1em auto 0.5em auto;
    text-align: center;
    background: #ffc640;
    border: 6px solid #ff9a40;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    padding: 1.1em 1em;
}

.moves,
.ListaPersonajes {
    max-width: 1280px;
    margin: auto;
}

.moves {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 0.6em 2em 0.6em;
}

.Categoria.plain {
    border-top: 1px solid #ccc;
}

.ContenedorMovimientos {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0.2em;
}

.ContenedorMovimientos.plain div {
    font-size: 100%;
    text-transform: none;
}

.ContenedorMovimientos div {
    padding: 0.5em;
    border: 1px solid #ccc;
    border-top: 0px;
    width: 100%;
    user-select: none;
    text-transform: capitalize;
    order: 4;
    font-size: 75%;
}

.movename {
    width: 100%;
    background: #444;
    color: #fcfcfc;
    font-weight: bold;
    border: 0px!important;
    order: 0!important;
    font-size: 100%!important;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}

.startup {
    background: #00994d;
    color: #fcfcfc;
    order: 1!important;
    font-size: 100%!important;
    font-weight: bold;
    border: 0px!important;
}

.startup:after {
    content: "frame startup";
}

.totalframes:after {
    content: "total frames";
}

.landinglag:after {
    content: "frames landing lag";
}

.notes {
    text-transform: none!important;
}

.notes:before {
    content: "Note: ";
}

.basedamage:after {
    content: "% base damage";
    margin-left: -4px;
}

.shieldlag:after {
    content: "frames shield lag";
}

.shieldstun:after {
    content: "frames shield stun";
}

.whichhitbox:after {
    content: "(If the move has multiple hitboxes, which hitbox is it?)";
    text-transform: none!important;
    display: block;
    margin-top: 0.2em;
}

.advantage {
    background: #bf2000;
    color: #fcfcfc;
    order: 2!important;
    font-size: 100%!important;
    font-weight: bold;
    border: 0px!important;
    text-transform: none!important;
}

.advantage:after {
    content: "On Shield";
}

.activeframes {
    background: #3c647d;
    color: #fcfcfc;
    order: 3!important;
    font-size: 100%!important;
    font-weight: bold;
    border: 0px!important;
    text-transform: none!important;
}

.activeframes:before {
    content: "Active on ";
}

.oos1 {
    background: #8cff8c;
}

.oos2 {
    background: #a6ffa6;
}

.oos3 {
    background: #bfffbf;
}

.ContenedorMovimientos {
    width: 250px;
    flex-grow: 1;
}


/*Inicio navegar "smart"*/

#cd-nav ul {
    /* mobile first */
    position: fixed;
    width: 90%;
    max-width: 400px;
    right: 5%;
    bottom: 20px;
    border-radius: 0em;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    background: white;
    visibility: hidden;
    /* remove overflow:hidden if you want to create a drop-down menu - but then remember to fix/eliminate the list items animation */
    overflow: hidden;
    z-index: 1;
    /* Force Hardware Acceleration in WebKit */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-transition: -webkit-transform 0.3s, visibility 0s 0.3s;
    -moz-transition: -moz-transform 0.3s, visibility 0s 0.3s;
    transition: transform 0.3s, visibility 0s 0.3s;
    padding: 0;
    list-style-type: none;
}

#cd-nav ul li {
    /* Force Hardware Acceleration in WebKit */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

#cd-nav ul.is-visible {
    visibility: visible;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.3s, visibility 0s 0s;
    -moz-transition: -moz-transform 0.3s, visibility 0s 0s;
    transition: transform 0.3s, visibility 0s 0s;
}

#cd-nav ul.is-visible li:nth-child(1) {
    /* list items animation */
    -webkit-animation: cd-slide-in 0.2s;
    -moz-animation: cd-slide-in 0.2s;
    animation: cd-slide-in 0.2s;
}

#cd-nav ul.is-visible li:nth-child(2) {
    -webkit-animation: cd-slide-in 0.3s;
    -moz-animation: cd-slide-in 0.3s;
    animation: cd-slide-in 0.3s;
}

#cd-nav ul.is-visible li:nth-child(3) {
    -webkit-animation: cd-slide-in 0.4s;
    -moz-animation: cd-slide-in 0.4s;
    animation: cd-slide-in 0.4s;
}

#cd-nav ul.is-visible li:nth-child(4) {
    -webkit-animation: cd-slide-in 0.5s;
    -moz-animation: cd-slide-in 0.5s;
    animation: cd-slide-in 0.5s;
}

#cd-nav ul.is-visible li:nth-child(5) {
    -webkit-animation: cd-slide-in 0.6s;
    -moz-animation: cd-slide-in 0.6s;
    animation: cd-slide-in 0.6s;
}

#cd-nav li a {
    display: block;
    padding: 1.6em;
    border-bottom: 1px solid #ccc;
}

#cd-nav li:last-child a {
    border-bottom: none;
}

#cd-nav li a,
#cd-nav li a:visited {
    color: #333;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

#cd-nav li a:hover {
    color: #555;
    background: #eee;
}

@media only screen and (min-width: 1170px) {
    #cd-nav ul {
        /* the navigation moves to the top */
        position: relative;
        width: auto;
        max-width: none;
        bottom: auto;
        top: 0;
        margin-top: 0;
        background: transparent;
        visibility: visible;
        box-shadow: none;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        -webkit-transition: all 0s;
        -moz-transition: all 0s;
        transition: all 0s;
        width: 100%;
        padding: 1.25em;
        right: 0;
        text-align: center;
        user-select: none;
    }
    #cd-nav li {
        display: inline-block;
    }
    #cd-nav li a,
    #cd-nav li a:visited {
        opacity: 1;
        padding: .66em;
        margin-left: 1.6em;
        border-bottom: none;
        transition: 0.2s;
    }
    #cd-nav.is-fixed ul {
        /* when the user scrolls down, the navigation moves to the bottom right in Fixed position - as on touch devices */
        position: fixed;
        width: 90%;
        max-width: 400px;
        bottom: 20px;
        top: auto;
        background: white;
        visibility: hidden;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
        padding: 0;
        list-style-type: none;
    }
    #cd-nav.is-fixed ul li {
        display: block;
    }
    #cd-nav.is-fixed ul li a {
        padding: 1.6em;
        margin-left: 0;
        border-bottom: 1px solid #ccc;
    }
    #cd-nav ul.has-transitions {
        /* this class is used to bring back transitions when the navigation moves at the bottom right */
        -webkit-transition: -webkit-transform 0.3s, visibility 0s 0.3s;
        -moz-transition: -moz-transform 0.3s, visibility 0s 0.3s;
        transition: transform 0.3s, visibility 0s 0.3s;
    }
    #cd-nav ul.is-visible {
        /* this class is used to bring back the navigation animation - as on touch devices */
        visibility: visible;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        -webkit-transition: -webkit-transform 0.3s, visibility 0s 0s;
        -moz-transition: -moz-transform 0.3s, visibility 0s 0s;
        transition: transform 0.3s, visibility 0s 0s;
    }
    #cd-nav ul.is-hidden {
        /* this class is used to animate the scale down the navigation when the user scrolls down with the navigation still open */
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
        -webkit-transition: -webkit-transform 0.3s;
        -moz-transition: -moz-transform 0.3s;
        transition: transform 0.3s;
    }
}

.cd-nav-trigger {
    position: fixed;
    bottom: 20px;
    right: 5%;
    width: 52px;
    height: 52px;
    background: white;
    border-radius: 0em;
    border: 2px solid #bd0000;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    /* image replacement */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    z-index: 2;
}

.cd-nav-trigger span {
    /* the span element is used to create the menu icon */
    position: absolute;
    display: block;
    width: 20px;
    height: 2px;
    background: #bd0000;
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -10px;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    transition: background 0.3s;
}

.cd-nav-trigger span::before,
.cd-nav-trigger span::after {
    content: '';
    position: absolute;
    left: 0;
    background: inherit;
    width: 100%;
    height: 100%;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.3s, background 0s;
    -moz-transition: -moz-transform 0.3s, background 0s;
    transition: transform 0.3s, background 0s;
}

.cd-nav-trigger span::before {
    top: -6px;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
}

.cd-nav-trigger span::after {
    bottom: -6px;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
}

.cd-nav-trigger.menu-is-open {
    box-shadow: none;
}

.cd-nav-trigger.menu-is-open span {
    background: rgba(232, 74, 100, 0);
}

.cd-nav-trigger.menu-is-open span::before,
.cd-nav-trigger.menu-is-open span::after {
    background: #bd0000;
}

.cd-nav-trigger.menu-is-open span::before {
    top: 0;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.cd-nav-trigger.menu-is-open span::after {
    bottom: 0;
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg);
}

@media only screen and (min-width: 1170px) {
    .cd-nav-trigger {
        /* the the menu triger is hidden by default on desktop devices */
        visibility: hidden;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
        -webkit-transition: -webkit-transform 0.3s, visibility 0s 0.3s;
        -moz-transition: -moz-transform 0.3s, visibility 0s 0.3s;
        transition: transform 0.3s, visibility 0s 0.3s;
    }
    ul.actions.vertical li {
        display: block;
        padding: 1em 0 0 0;
    }
    ul.actions.vertical li:first-child {
        padding-top: 0;
    }
    ul.actions.vertical li>* {
        margin-bottom: 0;
    }
    ul.actions.vertical.small li {
        padding: 0.5em 0 0 0;
    }
    ul.actions.vertical.small li:first-child {
        padding-top: 0;
    }
    ul.actions.fit {
        display: table;
        margin-left: -1em;
        padding: 0;
        table-layout: fixed;
        width: calc(100% + 1em);
    }
    ul.actions.fit li {
        display: table-cell;
        padding: 0 0 0 1em;
    }
    ul.actions.fit li>* {
        margin-bottom: 0;
    }
    ul.actions.fit.small {
        margin-left: -0.5em;
        width: calc(100% + 0.5em);
    }
    ul.actions.fit.small li {
        padding: 0 0 0 0.5em;
    }
    @media screen and (max-width: 480px) {
        ul.actions {
            margin: 0 0 2em 0;
        }
        ul.actions li {
            padding: 1em 0 0 0;
            display: block;
            text-align: center;
            width: 100%;
        }
        ul.actions li:first-child {
            padding-top: 0;
        }
        ul.actions li>* {
            width: 100%;
            margin: 0 !important;
        }
        ul.actions li>*.icon:before {
            margin-left: -2em;
        }
        ul.actions.small li {
            padding: 0.5em 0 0 0;
        }
        ul.actions.small li:first-child {
            padding-top: 0;
        }
    }
    .is-fixed .cd-nav-trigger {
        visibility: visible;
        -webkit-transition: all 0s;
        -moz-transition: all 0s;
        transition: all 0s;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        -webkit-animation: cd-bounce-in 0.3s linear;
        -moz-animation: cd-bounce-in 0.3s linear;
        animation: cd-bounce-in 0.3s linear;
        right: 1%;
    }
    @media screen and (min-height: 800px) {
        .NavegadorPersonajes {
            max-width: 1280px;
            margin: auto;
        }
        .Cajapersonaje {
            margin: 0.9em 0.45em;
            min-height: 120px;
            max-width: 394px;
        }
        .Cajapersonaje a {
            padding: 1.22em 0em;
        }
    }
}


/*fin navegar "smart"*/